@model ProjectManagementCollection.Models.Project

<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
</head>
<body>

    <div class="container">
        <h4>Project Documents List</h4>
        <br />
        <table>
            @if (Model.Documents.Count == 0)
            {
                <tr><td>There is no document for this project</td></tr> 
            }
            else
            {
                var oLink = "";
                var link = "";
                @foreach (var item in Model.Documents)
                {
                    oLink = "https://gentsproject2.s3.ca-central-1.amazonaws.com/" + @item.Url.Replace(" ", "+");
                    link = oLink;
                    if (item.Name.Contains(".doc") || item.Name.Contains(".docx") || item.Name.Contains(".xlsx") || item.Name.Contains(".pptx") || item.Name.Contains(".ppt") || item.Name.Contains(".xls"))
                    {
                        link = "https://view.officeapps.live.com/op/embed.aspx?src=" + link;

                    }
                    <tr>
                        <td><a href=@link>@item.Name</a></td>
                        <td>
                            <a href=@oLink><input type="button" value="Download" /></a>
                        </td>
                        <td>
                            <form asp-controller="Document" asp-action="AddFavoriteDoc" method="post">
                            @*<input type="hidden" asp-for="@Model.Document" value="@item" />*@
                               <input type="hidden" name="docId" value="@item.DocumentId" />
                               <input type="hidden" name="projId" value="@Model.ProjectId" />
                               <input type="submit" value="Add Favorite" />
                            </form>
                             @*<a asp-controller="Home" asp-action="AddFavoriteDoc" asp-route-documentId="@item.DocumentId">Add Favorite</a>*@

                        </td>

                        <td>
                            <form asp-controller="Document" asp-action="DeleteDoc" method="post">
                               <input type="hidden" name="docId" value="@item.DocumentId" />
                               <input type="hidden" name="projId" value="@Model.ProjectId" />
                               <input type="submit" value="Delete" />
                            </form>
                        </td>

                    </tr>
                } 
            }
        </table>

    </div>
    @if (TempData["message"] != null)
    {
        <p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;<b> <span style="color:#0094ff">@TempData["message"]</span></b></p>
    }
</body>
</html>