@model ProjectManagementCollection.Models.Project
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="view-container">
        <div></div>

        <table style="table-layout:fixed;" width="100%">
            <tr>
                <td width="33%">
                    <form asp-controller="Home" asp-action="Search" method="get">
                        <input type="submit" value="Back" />
                    </form>
                </td>
                <td>
                    <form asp-controller="Home" asp-action="ViewDocument" asp-route-id="@Model.ProjectId" method="get">
                        <input type="submit" value="View All" />
                    </form>
                </td>
            </tr>
        </table>
        <div class="container">
            <div style="position: absolute;left:1%;width:20%;height:100%;background:rgba(56, 132, 237, 0.22);">
            <table>
                <tr>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        Project Name :
                    </td>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td  style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        Client :
                    </td>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        @Model.Client
                    </td>
                </tr>
                <tr>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        Location :
                    </td>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        @Model.Location
                    </td>
                </tr>
                <tr>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        Date Completed :
                    </td>
                    <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                        @Model.DateCompleted.Year
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <i>factors related to document</i>
                    </td>
                </tr>
                <tr />
                    <tr>
                        <td colspan="2" align="center">
                           
                        </td>
                    </tr> 
                @{string mainCat = "";}
                @foreach (KeyValuePair<string, string> fac in Model.Factors)
                {
                    @if(@fac.Value != mainCat){
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                           @fac.Value
                        </td>
                    </tr> 
                    }
                   mainCat = fac.Value;
                    <tr>
                        <td colspan="2">
                            &bull;&nbsp;@fac.Key
                        </td>
                    </tr>
                }
            </table>
            </div>

            <div id="tab_1" style="position: absolute;left:20.5%;height:100%;margin-left:10px;">
                <iframe src="~/Home/ViewProjInfo/@Model.ProjectId"
                        style="width:1258px;height:100%;">
                </iframe>
            </div>

        </div>
    </div>
</body>
</html>