@model ProjectManagementCollection.Models.Project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="view-container">
        <div></div>
        <form asp-controller="Home" asp-action="Search" method="get">
            <input type="submit" value="Back"/>
        </form>
        <div class="container">
            <div style="position: absolute;left:5%;width:20%;background:rgba(56, 132, 237, 0.22);">
            <table>
                <tr>
                    <td>
                        Project Name :
                    </td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Client :
                    </td>
                    <td>
                        @Model.Client
                    </td>
                </tr>
                <tr>
                    <td>
                        Location :
                    </td>
                    <td>
                        @Model.Location
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Completed :
                    </td>
                    <td>
                        @Model.DateCompleted
                    </td>
                </tr>
                <tr>
                    <td>
                        Success :
                    </td>
                    <td>
                        @Model.Success
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        Factors
                    </td>
                </tr>
                @{string mainCat = "";}
                @foreach (KeyValuePair<string, string> fac in Model.Factors)
                {
                    @if(@fac.Value != mainCat){
                    <tr />
                    <tr>
                        <td colspan="2" align="center">
                           @fac.Value
                        </td>
                    </tr> 
                    }
                   mainCat = fac.Value;
                    <tr>
                        <td colspan="2" >
                            @fac.Key
                        </td>
                    </tr>
                }
            </table>
            </div>
            <div id="tab_1" style="position: absolute;left:25%;height:100%;margin-left:10px;">
                <iframe src= "@Model.Documents.First().Url"
                       style="width:1300px;height:100%;"
                >
                </iframe>
            </div>
        </div>
    </div>
</body>
</html>