@model ProjectManagementCollection.Models.ViewModels.UploadDocumentModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
</head>
<body>

    <div>
        <table style="table-layout:fixed;" width="100%">
            <tr>
                <td width="45%">
                </td>
                <td>
                    <b>Main - Category</b>
                </td>

                <td>
                    <b>Sub - Category</b>
                </td>
                <td width="21%">
                    <b>Select</b>
                </td>
            </tr>
        </table>
        <form asp-controller="Document" asp-action="UploadConfirm" enctype="multipart/form-data" method="post">
            <table style="table-layout:fixed;" width="100%">
                <tr>
                    <td width="42%">
                        <div style="position: absolute;left:5%; bottom:400px">
                            <div>
                                <h1>Upload Document</h1>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <div>
                                <table>
                                    <tr>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<label asp-for="@Model.ProjectName" class="control-label">Project&nbsp;Name</label>
                                        </td>
                                        <td>
                                            <input asp-for="@Model.ProjectName" class="form-control" />
                                            <span asp-validation-for="@Model.ProjectName" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <a asp-controller="Project" asp-action="FindCreateProject">
                                                <div>
                                                    <input class="btn btn-secondary" type="button" value="Find/Create Project" />
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <div>
                                                <table>
                                                    <tr class="form-group">
                                                        <td class="btn btn-sm float-left">
                                                            &nbsp;<input name="uploadFile" type="file" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-md-7">
                                                <b> <span style="color:#0094ff">Before upload the file, please select the factor(s) related to the file if it is.</span></b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<button name="Upload" class="btn btn-primary">Upload Now</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="height: 800px; border: 1px solid #ccc; font: 16px /26px Georgia, Garamond, Serif; overflow: auto;">
                            <div class="container">
                                @{ for (int i = 0; i < Model.ListFactorDesc.Count(); i++)
                                    {
                        <div class="row">
                            <div class="col-4">
                                @Model.ListFactorDesc[i].MainCategoryDesc
                            </div>
                            <div class="col-4">
                                @Model.ListFactorDesc[i].SubCategoryDesc
                            </div>
                            <div class="col-4">
                                <input asp-for="@Model.ListFactorDesc[i].Checked" type="checkbox" />
                                <input asp-for="@Model.ListFactorDesc[i].FactorId" hidden />
                            </div>
                        </div> } }
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        @if (Model.Message != null)
        {
<script>
                 alert("@Model.Message");
</script>}
    </div>




    <div>
        @if (TempData["message"] != null)
        {
<script>
                 alert("@TempData["message"]");
</script>}
    </div>
</body>
</html>