@model ProjectManagementCollection.Models.ViewDocumentModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="view-container">
        <div class="container">
            <div style="position: absolute;left:1%;width:20%;height:100%;background:rgba(56, 132, 237, 0.22);">
                <table>
                    <tr>
                        <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                            Document Name :
                        </td>
                        <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                            @Model.Document.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <i>Associated Factors</i>
                        </td>
                    </tr>
                    <tr />
                    <tr>
                        <td colspan="2" align="center">
                        </td>
                    </tr>
                    @{
                        foreach (var factors in @Model.Factors)
                        {
                        <tr>
                            <td>
                                @factors.MainCategoryDesc
                            </td>
                            <td>
                                @factors.SubCategoryDesc
                            </td>
                        </tr>
                            }
                        }
                </table>
            </div>
            <div id="tab_1" style="position: absolute;left:33.5%;height:100%;margin-left:10px;">
                <iframe src="@Model.Document.Url"
                        style="width:1258px;height:100%;">
                </iframe>
            </div>

        </div>
    </div>
</body>
</html>